services:
  postgres:
    image: postgres:18
    env_file:
      - backend/.env
    ports:
      - "15432:5432"
    volumes:
      - pgdata:/var/lib/postgresql

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  backend:
    build:
      context: .
      target: backend-prod
    ports:
      - "3000:3000"
    env_file:
      - backend/.env
    depends_on:
      - postgres
      - redis

  frontend:
    build:
      context: .
      target: frontend-prod
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  pgdata:
