version: "3.9"

services:
  redis:
    image: redis:7-alpine
    restart: always
    env_file:
      - .env
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]

  postgres:
    image: postgres:18
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h 127.0.0.1 -p 5432 || exit 1"]
      interval: 2s
      timeout: 3s
      retries: 60

  migrate:
    image: alexkuklev835/summary-bot-backend:latest
    restart: "no"
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
    command: ["sh", "-lc", "pnpm drizzle-kit migrate --config drizzle.config.ts"]

  backend:
    image: alexkuklev835/summary-bot-backend:latest
    restart: always
    env_file:
      - .env
    depends_on:
      migrate:
        condition: service_completed_successfully
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    ports:
      - "3000:3000"

  frontend:
    image: alexkuklev835/summary-bot-frontend:latest
    restart: always
    env_file:
      - .env
    depends_on:
      - backend
    ports:
      - "5173:5173"

volumes:
  pgdata:

