version: "3.9"

services:
  redis:
    image: redis:7-alpine
    env_file:
      - .env
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    ports:
      - "6379:6379"

  postgres:
    image: postgres:18
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "15432:5432"
    volumes:
      - pgdata:/var/lib/postgresql

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app/backend
      - /app/backend/node_modules

  frontend:
    build:
      context: .
      dockerfile: frontend/tg-miniapp/Dockerfile
    env_file:
      - .env
    depends_on:
      - backend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend/tg-miniapp:/app/frontend/tg-miniapp
      - /app/frontend/tg-miniapp/node_modules

  migrate:
    build:
      context: .
      dockerfile: backend/Dockerfile
    env_file:
      - .env
    depends_on:
      - postgres
    command: ["sh", "-lc", "pnpm drizzle-kit migrate --config drizzle.config.ts"]


volumes:
  pgdata:


